# App
PORT=3000
NODE_ENV=development

# Swagger
SWAGGER_DOCUMENTATION_AVAILABLE=true

# Database
DATABASE_URL="postgresql://your_user:your_password@postgres:5432/authz_db"

# Oauth
OAUTH_API_URL="http://your_host:3000"

# Sales
SALES_API_URL="http://your_host:3003"

# HR
HR_API_URL="http://your_host:3002"

# JWT
JWT_SECRET=your_jwt_secret_key
